body {
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
}
div {
  padding: 0;
  margin: 0;
}
h2 {
  color: #ea1c2c;
  font-weight: 200;
  padding-top: 20px;
}

#spanBtn:focus {
  outline: 0;
}
.navbar.scrolled {
  background-color: rgb(222, 192, 222);
  transition: background 500ms;
}
#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}
#mainNavbar li a {
  color: black;
}
#mainNavbar li a:hover {
  color: white;
}
#headingGroup span {
  color: red;
}
#headingGroup h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.5rem;
}
.lead p {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
}
.middleOne {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
}
.middleOne span {
  color: purple;
}
.middleOne span:hover {
  color: green;
}
.middleOne h1 {
  padding: 0.8rem;
}
.middleOne h1:hover {
  color: red;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-size: 2rem;
  }
  .lead p {
    font-size: 0.5rem;
  }
  .middleOne h1 {
    font-size: 2rem;
  }
}
